
.vendor-home {
  /* margin-top: 40px; */
  padding: 40px 20px;
  text-align: center;
  font-family: sans-serif;
  background-color: #f0fdf4;
  min-height: 70vh;
}

.vendor-home h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #2b3e2f;
}

.vendor-home-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.vendor-btn {
  padding: 12px 20px;
  background-color: #00aa66;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.vendor-btn:hover {
  background-color: #008f55;
}
